
*{
    margin: 0px;
    padding:0px;
}


.modelBox{
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    font-family: Helvatica;
    width: 600px;
    height: 300px;
    background-color: #80ffbf;
    text-align: center;
    border: 2px solid #004d26;
    border-radius: 20px;
    
    line-height: 1.5;
    
    
}
.modelBox #startBtn{
    padding: 15px;
    border-style: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    color: #004d26;
    background:#ccffe6; 
    border-radius: 5px;
    margin: 50px;
}
.modelBox #startBtn:hover{

    color:#778;
    background:#4dffff;
    
}
.alignCenter {
    text-align: center;
}
#restartBtn{
    
    padding: 15px;
    border-style: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    color: #004d26;
    background:#ccffe6; 
    border-radius: 5px;
    margin: 50px; 
}

.alignCenter #restartBtn:hover{
    color: #778;
    background: #4dffff;
}
.hide{
    display: none;
}

textarea{
    resize: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    font-weight: 100;
    border: 5px solid #00cccc;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 5px;
    width: 550px;
    height: 450px;
}

.area-pad{
    width: 100%;
    text-align: center;
    display: inline-block;
    
}



#timer{
    text-align: center;
    font-size: 40px;
    font-family: Helvatica, cursive, sans-serif;
    background:#ff2;
    color: #fff;
    padding: 5px;
    margin: 20px;
    letter-spacing: 10px;
}